#tv-shows-table {
    width: 100%;
}

.col-cover {
    width: 20%;
}

.cover-btn {
    display: inline-block;
}

.cover-btn:hover {
    filter: brightness(50%);
}

.serie-cover {
    width: 98%;
    padding: 1%;
}

.search-tv-shows {
    font-weight: normal;
    font-size: 20px;

    color: white;
    background-color: #333333;
    border-color: #444444;

    height: 50px;
    margin-bottom: 30px;
}

.hide-label-class {
    color: #444444;
    width: 100%;
}