.seasons {
    padding-top: 20px;
    margin-left: 0px;

}

.season {
    padding-bottom: 10px;
    text-align: center;
    color: white;
    line-height: 40px;
}

.episode-number {
    font-size: 12px;
}

.favorite-button {
	font-size: 16px;
	background-color: #0096FF;
	display: inline-block;
	border: 3px solid #0096FF;
    color: white;
    padding: 3px 15px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    transition-duration: 0.4s;
    border-radius: 5px;
    margin-top: 10px;
}

.favorite-button-added {
    font-size: 16px;
	background-color: #50CE1A;
	display: inline-block;
	border: 3px solid #50CE1A;
    color: white;
    padding: 3px 15px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    transition-duration: 0.4s;
    border-radius: 5px;

    margin-top: 10px;
}

.favorite-button-added:hover {
    background-color: #4F4F4F;
	color: #50CE1A;
	cursor: pointer;
}

.favorite-button:hover {
	background-color: #4F4F4F;
	color: #0096FF;
	cursor: pointer;
}

.movies {
    background-color: #4F4F4F;
    padding-left: 10px;
    border-radius: 4px;
    padding-bottom: 20px;
}

img {
    margin: 5px;
}

.title {
    color: #0096FF;
    font-size: 36px;
    text-align: left;
    vertical-align: top;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 10px
}

.movie-description {
    padding-top: 10px;
    padding-bottom: 15px;
    font-style: italic;
    text-align: justify;
}

.movie-infos {padding-top: 15px;}

.movie-actors {
    padding-bottom: 5px;
}

.small-title {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
}

.actor-description {
    line-height: 35px;
}

.actor-name {color: #0096FF;}

.similar-movies {
    margin-top: 20px;
    background-color: #4F4F4F;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    color: lightgray;
}

.similar-example {
    text-align: center;
    color: white;
}

.review {padding-bottom: 10px;}

.review-author {
    text-align: right;
    font-style: italic;
}

a:hover {color: lightgray;}

.cover-btn:hover {
    filter: brightness(80%);
    color: lightgray;
}