/* Title */
.navbar-custom {
    background: #4F4F4F !important;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    height: 50px;
}

.navbar-custom > a {
    color: lightgray;
    font-size: 30px;
    font-family: Raleway;
    font-weight: bold;
}


/* Dropdown */
.dropdown-custom > a {
    color: lightgray !important;
    font-family: Raleway;
    font-size: 15px;
}

.dropdown-header-custom {
    font-weight: bold;
    color: lightgray;
    margin: 4px 8px;
}


/* Icons */
.dropdown-btn-container {
    height: 50px;
}

.dropdown-btn {
    margin: 7px;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    height: 36px;
    color: white;
    background-color: #4F4F4F !important;
}

.dropdown-btn:hover, .dropdown-btn:focus {
    filter: brightness(80%);
    text-decoration: none;
    color: white;
}

.notif-alert {
    background-color: #E53939 !important;
}

.header-icon {
    margin: 7px;
    width: 22px;
    height: 22px;
}

.username-text {
    margin-right: 7px;
}


/* Notifications panel */
.dropdown-notif-custom {
    background-color: #4F4F4F;
    min-width: 450px;
}

.notif-container {
    height: 64px;
}

.notif-message {
    border-radius: 5px;
    height: 60px;
    margin: 2px 4px;
    display: inline-block;
    width: 442px;
}

.notif-message-alert {
    background-color: #E53939;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

/* Notif link to episode details */
.notif-image {
    margin: 5px;
    height: 50px;
    width: auto;
}

.notif-message-link {
    border-radius: 5px;
    background-color: #4F4F4F;
}

.notif-message-alert > .notif-message-link {
    background-color: #E53939;
}

.notif-message-link:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.notif-message-link > .col-xs-10 {
    margin-top: 8px;
    color: white;
}

/* Notif eye button to check as seen */
.eye-button {
    border-radius: 5px;
    height: 100%;
    text-align: center;
    background-color: #4F4F4F;
}

.notif-message-alert > .eye-button {
    background-color: #E53939;
}

.eye-button:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.eye-image {
    margin: 20px 0px;
    height: 20px;
    width: 20px;
}

.notif-message > .col-xs-1 {
    padding: 0px;
}


/* User */
.dropdown-user-custom {
    background-color: #4F4F4F;
}

.dropdown-item {
    padding: 6px 10px;
    color: white;
    display: block;
}

.dropdown-item:hover {
    text-decoration: none;
    color: white;
    background-color: #444444;
}