@font-face {
    font-family: 'Raleway-Regular';
    src: url('../fonts/Raleway-Regular.ttf');
}

.navbar-custom {
    background: #4F4F4F !important;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.navbar-custom > a {
    color: #61AFEF;
    font-size: 30px;
    font-family: 'Raleway-Black';
}

.navbar-custom > li {
    float: none;
    display: inline-block;
}

.navbar-custom > li > a {
    color: white !important;
    padding: 5%;
    line-height: 40px;
    font-size: 40px;
    font-family: 'Raleway-Regular';
}



/* User dropdown in Header */
.dropdown-custom > a {
    color: lightgray !important;
    font-family: 'Raleway-Regular';
    font-size: 15px;
}

.toggle-custom:hover, .toggle-custom:focus {
    background-color: gray !important;
}

.dropdown-menu-custom {
    background-color: #4F4F4F;
}

.dropdown-menu-custom > li > a {
    color: lightgray;
}

.dropdown-menu-custom > li > a:hover,
.dropdown-menu-custom > li > a:focus {
    font-family: 'Raleway-Regular';
    text-decoration: none;
    color: lightgray;
    background-color: gray;
}

.search-icon {
    max-width:20px;
    max-height:20px;
    width: auto;
    height: auto;
}

.search-button:hover, .search-button:focus {
    background-color: gray !important;
}

.member-icon {
    max-width:20px;
    max-height:20px;
    width: auto;
    height: auto;
}


/* Body generic CSS */
.body-custom {
    margin-top: 50px;
    color: white;
    font-family: 'Raleway-Black';
    background-color: #444444
}
