@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-Black.ttf');
    font-weight: bold;
}

div {
    font-family: Raleway;
}

/* Body generic CSS */
.body-custom {
    margin-top: 70px;
    color: white;
    background-color: #444444
}
