{% extends 'base.html' %}

{% load static %}

{% block static %}

    <link rel="stylesheet" type="text/css" href="{% static 'series/css/details.css' %}"/>

{% endblock%}


{% block content %}

    <div class="col-xs-2 menu">
        Menu à gauche<br/>
        Acteurs<br/>
        Reviews<br/>
        D'autres trucs<br/>
        D'autres trucs<br/>
        D'autres trucs<br/>
        D'autres trucs<br/>
        D'autres trucs<br/>
        D'autres trucs<br/>
        D'autres trucs<br/>
        D'autres trucs<br/>
        D'autres trucs<br/>
    </div>

    <div class="col-xs-8 movies">

        <div class="col-xs-12 movie-title">
            Titre du film
        </div>


        <div class="col-xs-4 movie-image">
                <img src="http://fr.web.img3.acsta.net/medias/nmedia/18/68/61/99/19425646.jpg" width=100% />
        </div>

        <div class="col-xs-8">

            <div class="movie-description">
            Voici une description du film, avec scénario etc... On mettra plein de trucs là-dedans donc il y aura du texte xxxxxxxxxxxxxxxxxxxxxxxxxxxx.
            </div>

            <div class="movie-infos">
                <b>Rating: </b>8.9/10 <br/>
            </div>

            <div class="movie-infos">
                <b>Duration: </b>1h39 <br/>
           </div>

            <div class="movie-infos">
                <b>Genres: </b>Drama, Comedy <br/>
            </div>

            <div class="movie-infos">
                <b>Release date: </b>10/10/2018 <br/>
            </div>

            <div class="movie-infos">
                <b>Director: </b>Steven Spielberg <br/>
            </div>

            <div class="movie-infos">
                <b>Country of origin: </b>France <br/>
            </div>
        </div>

        <div class="col-xs-12 movie-actors">
            <span class="titles bigger-titles">Actors: </span><br/>
            <img src="https://m.media-amazon.com/images/M/MV5BMTc0MDMyMzI2OF5BMl5BanBnXkFtZTcwMzM2OTk1MQ@@._V1_UX214_CR0,0,214,317_AL_.jpg"
                 height="50px"/> Morgan Freeman<br/>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Matt_Damon_TIFF_2015.jpg/220px-Matt_Damon_TIFF_2015.jpg"
                 height="50px"/> Matt Damon<br/>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Brad_Pitt_Fury_2014.jpg/220px-Brad_Pitt_Fury_2014.jpg"
                 height="50px"/> Brad Pitt<br/>

        </div>

        <div class="col-xs-12 movie-reviews">
            <span class="titles bigger-titles">Reviews: </span><br/>
            8/10: Great movie, nice one.<br/>
            6/10: Funny but nor the best.<br/>
        </div>

    </div>

    <div class="col-xs-12 similar-movies">
        <div class="bigger-titles">Similar movies</div>
        <div class="col-xs-1 similar-example">
            <img src="https://images-na.ssl-images-amazon.com/images/I/51TyiGML7SL._SY445_.jpg" height=100px width=65px /> Inside Man
        </div>

        <div class="col-xs-1 similar-example">
            <img src="https://upload.wikimedia.org/wikipedia/en/0/0e/Flight_film_poster.jpg" height=100px width=65pw/> Flight
        </div>
    </div>

{% endblock %}

