{% extends 'base.html' %}

{% load static %}

{% block static %}
    <link rel="stylesheet" type="text/css" href="{% static 'series/css/home.css' %}"/>
    <script src="{% static 'series/js/home.js' %}"></script>
    <script src="{% static 'DataTables/datatables.js' %}"></script>
{% endblock %}

{% block content %}

    <!-- In order to use datatable (which we need for the search feature), we load all tv shows in a table -->
    <table id="tv-shows-table">
        <thead hidden>
            <tr>
                <th>order</th>
                <th>col_1</th>
                <th>col_2</th>
                <th>col_3</th>
                <th>col_4</th>
                <th>col_5</th>
            </tr>
        </thead>
        <tbody>
            {% for mov in movies %}
                <!-- We need to put 5 tv show covers in each row -->
                {% if forloop.counter0|divisibleby:5 %}<tr><td hidden>forloop.counter0</td>{% endif %}
                    <td class="col-cover">
                        <a href="{% url 'series:details' mov.tv_id %}" class="cover-btn">
                            <img class="serie-cover" src="{% if mov.poster_path is not None %}{{ mov.poster_path }}{% else %}{% static 'icons/black_cover.png' %}{% endif %}"/>
                        </a>
                        <div hidden>{{ mov.name }}</div>
                    </td>
                {% if forloop.counter|divisibleby:5 or forloop.last %}</tr>{% endif %}
            {% endfor %}
        </tbody>
    </table>

{% endblock %}