{% extends 'base.html' %}

{% load static %}

{% block static %}
    <link rel="stylesheet" type="text/css" href="{% static 'series/css/home.css' %}"/>
{% endblock %}

{% block content %}
    {% for im in images %}
        <a class="cover-btn" onclick="showSerieSheet()"><img class="serie-cover" src="{{ im }}" /></a>
    {% endfor %}
{% endblock %}

<!-- {% block javascript %}
    <script>
        function showSerieSheet() {
            $('#dialog').modal('show');
        };
     </script>
{% endblock %} -->
