{% extends 'base.html' %}

{% load static %}

{% block static %}
    <link rel="stylesheet" type="text/css" href="{% static 'series/css/home.css' %}"/>
{% endblock %}

{% block content %}
    {% for mov in movies %}
        <a href="{{ mov.id }}" class="cover-btn"> <img class="serie-cover" src="{{ mov.poster_path }}" /></a>
    {% endfor %}
{% endblock %}

<!-- {% block javascript %}
    <script>
        function showSerieSheet() {
            $('#dialog').modal('show');
        };
     </script>
{% endblock %} -->
