{% extends 'base.html' %}

{% load static %}

{% block static %}
    <link rel="stylesheet" type="text/css" href="{% static 'series/css/series_details.css' %}"/>
{% endblock%}


{% block content %}

    <!-- Side bar with seasons -->
    <div class="col-xs-2 seasons">
        {% include 'series/series_sidebar.html' with object=details %}
    </div>

    <!-- Show details -->
    <div class="col-xs-8 movies">

        <div class="col-xs-12 title">
            {{ details.name }}
        </div>


        <div class="col-xs-4 movie-image">
                <img src="{{ details.poster }}" width=100% />
        </div>

        <div class="col-xs-8">

            <div class="movie-description">
                {{ details.overview }}
            </div>

            <div class="movie-infos">
                <b>Average user rating : </b>{{ details.vote_average }} / 10 <br/>
            </div>

            <div class="movie-infos">
                <b>Number of episodes : </b>{{ details.number_of_episodes }} <br/>
           </div>

            <div class="movie-infos">
                <b>Genres : </b> {{ details.genres }} <br/>
            </div>

            <div class="movie-infos">
                <b>First air date : </b>{{ details.first_air_date }} <br/>
            </div>

            <div class="movie-infos">
                <b>Director : </b> {{ details.realisateur }} <br/>
            </div>

            <div class="movie-infos">
                <b>Country of origin : </b> {{ details.origin_country }} <br/>
            </div>
        </div>

        <div class="col-xs-12 movie-actors">
            <div class="small-title">Actors: </div>

            {% for actor in cast %}
                <div class="row">
                    <div class=" col-xs-1 actor-picture">
                        <img src="{{ actor.profile_path }}" height=70px/>
                    </div>
                    <div class=" col-xs-11 actor-description">
                        <b> Character: </b> {{ actor.character }} <br/> <span class="actor-name">{{ actor.name }}</span><br/>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="col-xs-12 movie-reviews">
            <div class="small-title">Reviews: </div>
            <ul>
                {% for review in reviews %}
                    <div class="review">
                        <li> {{ review.content }}<br/>
                            <div class="review-author"> {{ review.author }}</div> </li>
                    </div>
                {% endfor %}
            </ul>
        </div>

    </div>

    <!-- Add to Favorites button -->
    <div class="col-xs-2 favorites">
        <button type="submit" class="favorite-button" > <span style="font-size: 30px;"> + </span> <br/> Add to favorites</button>
    </div>

    <!-- Similar shows at the bottom of the page -->
    <div class="col-xs-12 similar-movies">
        <div class="small-title">Similar TV shows</div>

        {% for sim in similar %}
            <div class="col-xs-1 similar-example">
                <a href="{% url 'series:details' sim.id %}" class="cover-btn"><img src="{{ sim.poster_path }}" height=100px width=70px /> {{ sim.name }}</a>
            </div>
        {% endfor %}

    </div>

{% endblock %}
