.menu {
    padding-top: 20px;
}

.unique_favorite {
    background-color: #4F4F4F;
    padding-left: 10px;
    border-radius: 4px;
    padding-bottom: 20px;
    margin-top: 10px;
    padding-top: 10px;
}

img {
    margin: 5px;
}

.user-name {
    color: lightgray;
    font-size: 36px;
    text-align: left;
    vertical-align: top;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 10px
}

.favorites {
    padding-top: 20px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: #0096FF;
}

.big-title {
    color: white;
    font-size: 36px;
    text-align: left;
    vertical-align: top;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 10px
}

a:hover {color: lightgray;}

.movie-image:hover {
    filter: brightness(70%);
}

