{% extends 'base.html' %}

{% load static %}

{% block static %}
    <link rel="stylesheet" type="text/css" href="{% static 'user/css/details.css' %}"/>
{% endblock %}

{% block content %}

     <div class="col-xs-2 menu">
            <b>User name :</b><br/>
            {{user.username}}<br/>
            <b>Number of favorite tv shows :</b><br/>
            {{favorites_details|length}}<br/>

        </div>

    <div class="col-xs-8 users">

        {% for favorite in favorites_details %}
            <div class="col-xs-12 favorites">
                {{ favorite.name }}: Hervé Biausser
            </div>


        {% endfor %}

        <div class="col-xs-12 user-name">
            User {{ user_id }}: Hervé Biausser
        </div>

        <div class="col-xs-4 user-image">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/Herv%C3%A9_Biausser%2C_directeur_Ecole_Centrale_Paris.jpg/260px-Herv%C3%A9_Biausser%2C_directeur_Ecole_Centrale_Paris.jpg"
                     width=100% />
        </div>


            <div class="col-xs-8 user-id">
                <b>User ID: </b> {{ user_id }}
            </div>


    </div>



{% endblock %}
