{% extends 'base.html' %}

{% load static %}

{% block static %}
    <link rel="stylesheet" type="text/css" href="{% static 'user/css/details.css' %}"/>
{% endblock %}

{% block content %}

    <!--Side bar with user name and number of favorites-->
     <div class="col-xs-2 menu">
            <b>User name :</b><br/>
            {{user.username}}<br/>
            <b>Number of favorite tv shows :</b><br/>
            {{details|length}}<br/>

     </div>

    <!--List of user favorites, with show title, picture, and description-->
    <div class="col-xs-8 favorites">
        <div class="big-title"> Favorites</div>

        {% for favorite in details %}
            <div class="col-xs-12 unique_favorite">
                <div class="col-xs-12 title">
                    <a href="{{ favorite.link }}">
                        <b>{{ favorite.name }}</b></a>
                </div>



                <div class="col-xs-4 movie-image">
                    <a href="{{ favorite.link }}">
                        <img src="{{ favorite.poster }}" width=80% /></a>
                </div>

                <div class="col-xs-8">

                    <div class="movie-description">
                        <b>Rating:</b> {{ favorite.vote_average }} / 10
                    </div>

                    <div class="movie-description">
                        <b>Overview:</b><br/>
                        <span style="font-style: italic">{{ favorite.overview }}</span>
                    </div>

                </div>
            </div>



        {% endfor %}
    </div>

{% endblock %}
