{% extends 'base.html' %}

{% load static %}

{% block static %}
    <link rel="stylesheet" type="text/css" href="{% static 'user/css/details.css' %}"/>
    <script src="{% static 'user/js/user_details.js' %}"></script>
{% endblock %}

{% block content %}

    <!-- Side bar with user name and number of favorites -->
     <div class="col-xs-2 menu">
        <div class="user-info-label">Username</div>
        {{ user.username }}
     </div>

    <!--List of user favorites, with show title, picture, and description-->
    <div class="col-xs-8">
        <div class="big-title" id="favorites_title">Favorites - {{ favorites|length }} show{{ favorites|length|pluralize }}</div>

        {% for favorite in favorites %}
            <div class="col-xs-12 unique_favorite" id="{{favorite.tv_id}}">
                
                <div class="col-xs-12 title">
                    <a href="{% url 'series:details' favorite.tv_id %}"><b>{{ favorite.name }}</b></a>
                </div>

                <div class="col-xs-4 movie-image">
                    <a href="{% url 'series:details' favorite.tv_id %}"><img src="{{ favorite.poster }}" width=80% /></a>
                </div>

                <div class="col-xs-8">

                    <div class="movie-description">
                        <b>Rating:</b> {{ favorite.vote_average }} / 10
                    </div>

                    <div class="movie-description">
                        <b>Overview:</b><br/>
                        <span style="font-style: italic">{{ favorite.overview }}</span>
                    </div>

                    <button type="submit" class="col-xs-5 col-xs-offset-7 favorite-button"
                            id="remove_fav_button_{{favoritetv_id}}"
                            onclick="remove_from_fav({{ request.user.id }}, {{ favorite.tv_id }})">
                        Remove from favorites

                    </button>

                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}
