{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}"/>

<nav class="navbar navbar-fixed-top navbar-custom">

    <a class="navbar-brand hidden-sm" href="{% url 'home' %}"><span style="color: #0096FF;">TV</span>Chaud</a>

    <div class="container-fluid">

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a class="search-button" href="#">
                    <img class="search-icon" src="{% static 'icons/search.png' %}"/>
                </a>
            </li>
            <li class="dropdown dropdown-custom">
                <a class="dropdown-toggle toggle-custom" data-toggle="dropdown" href="#">
                    <img class="member-icon" src="{% static 'icons/member.png' %}"/>
                    {{ user.username }}
                </a>
                <ul class="dropdown-menu dropdown-menu-custom">
                    <li>
                        <a href="">Profile</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>

</nav>
