{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}"/>
<script src="{% static 'js/header.js' %}"></script>

<nav class="navbar navbar-fixed-top navbar-custom">

    <!-- Title -->
    <a class="navbar-brand hidden-sm" href="{% url 'home' %}"><span style="color: #0096FF;">TV</span>Chaud</a>

    <div class="container-fluid">

        <!-- Buttons on the right of the navbar -->
        <ul class="nav navbar-nav navbar-right">

            <!-- Button Add Friend -->
            <li>
                    <div class="dropdown dropdown-btn-container" id="button-add-friend-container">
    
                        <!-- The Button "Add Friend" itself -->
                        <a class="dropdown-toggle dropdown-btn" id="add-friend-dropdown-button" data-toggle="dropdown">
                            <img class="header-icon" src="{% static 'icons/addfriend.png' %}">
                        </a>
    
                        <!-- Dropdown with input field -->
                        <div class="dropdown-menu dropdown-add-friend-custom" id="dropdown-add-friend" aria-labelledby="add-friend-dropdown-button">
                            <div class="col-xs-9 col-add-friend">
                                <input type="text" id="friend-username-id" class="form-control add-friend-field" placeholder="Add friend..."/>
                            </div>
                            <div class="col-xs-3 col-add-friend">
                                    <button class="btn btn-add-friend" onclick="send_friend_request()">Invite</button>
                            </div>
                        </div>
    
                    </div>
                </li>

            <!-- Button Notifications -->
            <li>
                <div class="dropdown dropdown-btn-container" id="button-notif-container">

                    <!-- The button "Notif" itself : red if there is at least one unseen notif, else transparent -->
                    {% if notifs.alert %}
                        <a class="dropdown-toggle dropdown-btn notif-alert" id="notif-dropdown-button" data-toggle="dropdown">
                            <img class="header-icon" src="{% static 'icons/ringbell_white.png' %}"/>
                        </a>
                    {% else %}
                        <a class="dropdown-toggle dropdown-btn notif-no-alert" id="notif-dropdown-button" data-toggle="dropdown">
                            <img class="header-icon" src="{% static 'icons/ringbell_white.png' %}"/>
                        </a>
                    {% endif %} 

                    <!-- Dropdown for notifs-->
                    <div class="dropdown-menu dropdown-notif-custom" aria-labelledby="notif-dropdown-button">

                        <!-- Part Friend Requests -->
                        <div class="dropdown-header-custom">Friend Requests</div>
                        {% for request in notifs.friend_requests %}
                            <div class="notif-container" id="friend-request-{{ request.friend_request_id }}">
                                <div class="notif-message notif-message-no-alert">
                                    <div class="col-xs-7 request-text">
                                        Friend request from <b>{{ request.from_user }}</b>
                                    </div>
                                    <div class="col-xs-5">
                                        <button class="btn btn-default" onclick="accept_friend_request({{ request.friend_request_id }})">Accept</button>
                                        <button class="btn btn-danger" onclick="decline_friend_request({{ request.friend_request_id }})">Decline</button>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <div class="notif-container no-notifs">
                                No pending requests
                            </div>
                        {% endfor %}

                        <!-- Part Notifications Episodes -->
                        <div class="dropdown-header-custom">New Episodes</div>
                        {% for ep in notifs.new_episodes %}
                            <div class="notif-container">
                                <div class="notif-message {% if ep.seen %}notif-message-no-alert{% else %}notif-message-alert{% endif %}" id="notif-{{ ep.notif_id }}">
                                    <a class="notif-message-link col-xs-11" onclick="see_notif({{ ep.notif_id }})" href="{% url 'series:season_details' ep.tv_id ep.season %}">
                                        <div class="col-xs-2">
                                            <img class="notif-image" src="{{ ep.image }}"/>
                                        </div>
                                        <div class="col-xs-10">
                                            New episode : <b>{{ ep.title }}</b> - <b>Season {{ ep.season }}</b> - <b>Episode {{ ep.episode }}</b>
                                        </div>
                                    </a>
                                    <a class="eye-button col-xs-1" onclick="check_notif({{ ep.notif_id }})">
                                        <div>
                                            <img class="eye-image" src="{% static 'icons/eye.png' %}"/>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% empty %}
                            <div class="notif-container no-notifs">
                                No notifications
                            </div>
                        {% endfor %}

                    </div>

                </div>
            </li>

            <!-- Button User -->
            <li>
                <div class="dropdown dropdown-btn-container">

                    <!-- The button User itself -->
                    <a class="dropdown-toggle dropdown-btn" id="user-dropdown-button" data-toggle="dropdown">
                        <img class="header-icon" src="{% static 'icons/member.png' %}">
                        <span class="username-text">{{ request.user.username }}</span>
                    </a>

                    <!-- Dropdown for User -->
                    <div class="dropdown-menu dropdown-user-custom" aria-labelledby="user-dropdown-button">
                        <a class="dropdown-item" href="{% url 'user:user_details' request.user.id %}">Profile</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    </div>

                </div>
            </li>

        </ul>

    </div>

</nav>