{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}"/>
<script src="{% static 'js/header.js' %}"></script>

<nav class="navbar navbar-fixed-top navbar-custom">

    <!-- Title -->
    <a class="navbar-brand hidden-sm" href="{% url 'home' %}"><span style="color: #0096FF;">TV</span>Chaud</a>

    <div class="container-fluid">

        <!-- Buttons on the right -->
        <ul class="nav navbar-nav navbar-right">

            <!-- Button Notifications -->
            <li>
                <div class="dropdown dropdown-btn-container" id="button-notif-container">

                    <!-- Le bouton Notif : red si il y a une notif non lue, transparent sinon -->
                    {% if notifs.alert %}
                        <a class="dropdown-toggle dropdown-btn notif-alert" id="notif-dropdown-button" data-toggle="dropdown">
                            <img class="header-icon" src="{% static 'icons/ringbell_white.png' %}"/>
                        </a>
                    {% else %}
                        <a class="dropdown-toggle dropdown-btn notif-no-alert" id="notif-dropdown-button" data-toggle="dropdown">
                            <img class="header-icon" src="{% static 'icons/ringbell_white.png' %}"/>
                        </a>
                    {% endif %} 

                    <!-- Dropdown pour les notifs-->
                    <div class="dropdown-menu dropdown-notif-custom" aria-labelledby="notif-dropdown-button">
                        <div class="dropdown-header-custom">New Episodes</div>
                        {% for ep in notifs.new_episodes %}
                            <div class="notif-container">
                                <div class="notif-message {% if ep.seen %}notif-message-no-alert{% else %}notif-message-alert{% endif %}" id="notif-{{ ep.notif_id }}">
                                    <a class="notif-message-link col-xs-11" onclick="see_notif({{ ep.notif_id }})" href="{% url 'series:season_details' ep.tv_id ep.season %}">
                                        <div class="col-xs-2">
                                            <img class="notif-image" src="{{ ep.image }}"/>
                                        </div>
                                        <div class="col-xs-10">
                                            New episode : <b>{{ ep.title }}</b> - <b>Season {{ ep.season }}</b> - <b>Episode {{ ep.episode }}</b>
                                        </div>
                                    </a>
                                    <a class="eye-button col-xs-1" onclick="check_notif({{ ep.notif_id }})">
                                        <div>
                                            <img class="eye-image" src="{% static 'icons/eye.png' %}"/>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </li>

            <!-- Button User -->
            <li>
                <div class="dropdown dropdown-btn-container">

                    <!-- Le bouton User -->
                    <a class="dropdown-toggle dropdown-btn" id="user-dropdown-button" data-toggle="dropdown">
                        <img class="header-icon" src="{% static 'icons/member.png' %}">
                        <span class="username-text">{{ user.username }}</span>
                    </a>

                    <!-- Dropdown pour User -->
                    <div class="dropdown-menu dropdown-user-custom" aria-labelledby="user-dropdown-button">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    </div>

                </div>
            </li>

        </ul>

    </div>

</nav>