{% extends 'base.html' %}

{% load static %}
{% block title %}TVChaud - Login{% endblock %}

{% block static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
{% endblock %}

{% block header %}{% endblock %}

{% block body %}

    <body class="login-page">
        <div class="container-fluid">

            <div class="col-xs-6 login-col">

                <div class="login-title">
                    <span style="color: #0096FF;">TV</span>Chaud
                </div>

            </div>

            <div class="col-xs-6 login-col">

                <div class="login-panel">
                    Open the gates to the 7th art
                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn login-google login-btn">
                        <div class="col-xs-3">
                            <img src="{% static 'icons/googlepluslogin.png' %}"/>
                        </div>
                        <div class="col-xs-9">
                            Sign in with Google
                        </div>
                    </a>
                    <a class="btn login-facebook login-btn">
                        <div class="col-xs-3">
                            <img src="{% static 'icons/facebooklogin.png' %}"/>
                        </div>
                        <div class="col-xs-9">
                            Log in with Facebook
                        </div>
                    </a>
                </div>

            </div>

        </div>
    </body>

{% endblock %}
