{% extends 'base.html' %}

{% load static %}
{% block title %}TVChaud - Login{% endblock %}

{% block static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
{% endblock %}

{% block header %}{% endblock %}

{% block body %}

    <body class="login-page">
        <div class="container-fluid">

            <div class="col-xs-6 login-col">

                <div class="login-title">
                    <span style="color: #0096FF;">TV</span>Chaud
                </div>

            </div>

            <div class="col-xs-6 login-col">

                <div class="login-panel">

                    <form method="post" action="">
                        {% csrf_token %}

                        {{ form.username }}
                        {{ form.password }}

                        <button class="btn login-div btn-primary">Login</button>
                    </form>
                    <a class="register-link" href="{% url 'register' %}">or Register</a>

                    <hr/>

                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn login-google login-div">
                        <div class="col-xs-3">
                            <img src="{% static 'icons/googlepluslogin.png' %}"/>
                        </div>
                        <div class="col-xs-9">
                            Sign in with Google
                        </div>
                    </a>
                    <a href="{% url 'social:begin' 'facebook' %}" class="btn login-facebook login-div">
                        <div class="col-xs-3">
                            <img src="{% static 'icons/facebooklogin.png' %}"/>
                        </div>
                        <div class="col-xs-9">
                            Log in with Facebook
                        </div>
                    </a>
                </div>

            </div>

        </div>
    </body>

{% endblock %}

{% block javascript %}
    <script>
        $(function() {
            username_field = $('#id_username');
            username_field.addClass('form-control login-div login-field');
            username_field.attr('placeholder', 'Username');

            password_field = $('#id_password');
            password_field.addClass('form-control login-div login-field');
            password_field.attr('placeholder', 'Password');
        });
    </script>
{% endblock %}