{% extends 'base.html' %}

{% load static %}
{% block title %}TVChaud - Register{% endblock %}

{% block static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}"/>
{% endblock %}

{% block header %}{% endblock %}

{% block body %}

    <body class="login-page">
        <div class="container-fluid">

            <div class="register-col">

                <div class="register-panel">

                    <form class="register-form" method="post" action="">
                        {% csrf_token %}

                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="error-message">
                                        {{ error|escape }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                                
                        {{ form.username }}
                        {{ form.password1 }}
                        {{ form.password2 }}

                        <button class="btn btn-primary">Register</button>
                    </form>

                </div>

            </div>

        </div>
    </body>

{% endblock %}

{% block javascript %}
    <script>
        $(function() {
            username_field = $('#id_username');
            username_field.addClass('form-control login-div login-field');
            username_field.attr('placeholder', 'Username');

            password1_field = $('#id_password1');
            password1_field.addClass('form-control login-div login-field');
            password1_field.attr('placeholder', 'Password');

            password2_field = $('#id_password2');
            password2_field.addClass('form-control login-div login-field');
            password2_field.attr('placeholder', 'Confirm password');
        });
    </script>
{% endblock %}
